.header {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.header .input-search {
  display: flex;
  align-items: center;
}
.header .input-search input {
  width: 48vh;
  height: 5vh;
  padding: 2vh;
}
.header .input-search button {
  height: 5vh;
  background-color: #7ed321;
  color: white;
  cursor: pointer;
}
.header .buttons-header {
  display: flex;
  align-items: center;
}
.header .buttons-header .conectare {
  background-color: white;
  color: grey;
  border-radius: 10vh;
  margin-right: 1rem;
  cursor: pointer;
}
.header .buttons-header .buttons-products {
  display: flex;
}
.header .buttons-products button {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0.5rem;
}
.header .buttons-header .buttons-products .Favorite {
  margin-left: 0.5rem;
}
.header .input-search button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #7ed321;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.header .input-search button:hover {
  background-color: rgb(214, 49, 49);
}
.header .input-search ::after {
  content: "";
  clear: both;
  display: table;
}
